{% extends "layout.html" %}

{% block main %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Bitcoin Price</h1>
        <h2 class="display-4">{{ price }} USD</h2>
        <blockquote cite="https://bitcoin.org/en/">
            <p class="lead">"Bitcoin is an innovative payment network and a new kind of money."</p>
        </blockquote>
        <p class="lead">Check out the historical data of Bitcoin price:</p>
    </div>
    <div id="canvas-container">
        <canvas id="price_index"></canvas>
    </div>
{% endblock %}

{% block javascript%}
    <script>
        var ctx = document.getElementById('price_index').getContext('2d')
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for item in labels %}
                            "{{ item }}",
                            {% endfor %}],
                datasets: [{
                    label: 'Price',
                    data: {{ values }},
                    backgroundColor: "rgba(0, 187, 255, 0.5)",
                    borderColor: "rgb(0, 187, 255)",
                    borderWidth: 1,
                    pointRadius: 0.5,
                    pointHitRadius: 5,
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            display: true,
                            autoSkip: true,
                            maxTicksLimit: 7.1
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Historical Price BTC/USD'
                }
            }
        })
    </script>
{% endblock %}