{% extends "layout.html" %}

{% block main %}
    <main>
        {% for k, v in data.items() %}
            <div class="cryptoCurrencyCard" id="{{ k }}Card">
                <header>
                    <section class="cryptocurrencyName">
                        <abbr title="{{ k }}">
                            {{ v['name'] }}
                        </abbr>
                    </section>
                    <section class="cryptoCurrencyPrice">
                        $ {{ v['amount'] }}
                    </section>
                </header>

                <canvas class="cardChart" id="{{ k }}"></canvas>
            </div>
            <script>printChart("{{ k | safe }}", {{ v["rates"] | safe }})</script>
        {% endfor %}
    </main>
{% endblock %}

