<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BitPrice</title>

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
		<link rel="image_src" href="{{ url_for('static', filename='thumb.png') }}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
		{% block javascript %}{% endblock %}
	</head>
	<body>
		<header>

		</header>

		{% block main %}{% endblock %}

		<footer>

		</footer>
		<!--
		<footer>
		Powered by <a href="https://www.coinbase.com/" rel="external" target="_blank" style="color: #00bbff">Coinbase</a>.
		</footer>
		-->
	</body>
</html>