@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

* {
    margin: 0;
    padding: 0;
}

abbr {
    text-decoration: none;
}

body {
    background-color: rgb(242, 243, 245);
    color: rgb(48, 48, 48);
    font-family: "Red Hat Display", sans-serif;
}

#appNavBar {
    background-color: rgb(237, 240, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    box-shadow: 0px 7px 5px -2px rgba(58, 34, 34, 0.1);
}

#appNavBar h1 {
    font-weight: lighter;
}

#search {
    width: 32px;
    height: 32px;
    background-image: url(/static/search.png);
}

#search:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cryptoCurrencyCard {
    box-shadow: 7px 7px 5px rgba(100, 100, 100, 0.1);
    border-radius: 10px;
    background-color: rgb(237, 240, 243);
    margin: 25px;
    min-width: 300px;
    width: 25vw;
}

@media (min-width: 600px) {
    .cryptoCurrencyCard {
        font-size: 1.5rem;
    }
}

@media (max-width: 599px) {
        .cryptoCurrencyCard {
        font-size: 1.2rem;
    }
}

.cryptoCurrencyCard header {
    padding: 10px;
}

.cryptoCurrencyCard header, .cryptocurrencyName {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cryptocurrencyName img {
    margin-right: 5px;
}

.cardChart {
    display: flex;
    width: 100%;
    height: auto;
    grid-area: chart;
    border-radius: 0px 0px 10px 10px;
    margin-top: auto;
}
